.header{
    background-color: gray;
    text-align: center;
    padding: 20px;
    font-family: Arial, sans-serif;
    color: white;
}

.servicos{
    margin: 20px;
    padding: 20px;
    background-color: #f9f9f9;
    font-family: Arial, sans-serif;
}

.lista-servicos{
    list-style-type: square;
    padding-left: 20px;
    font-family: Arial, sans-serif;
}

.portfolio{
    text-align: left;
    margin: 20px;
    border: 5px solid;
    padding: 20px;
    border-radius: 5px;
    border-color: black;
    border-style: solid;
    background-color: #f9f9f9;
    font-family: Arial, sans-serif;
}

.local{
    margin: 20px;
    padding: 20px;
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
}

.h1, .h2, .h3, .h4, .h5, .h6{
    font-family: 'Georgia', serif;
    color: #333333;
}
/* w3schools.com/tags/ref_colornames.asp -->*/ 
