body{
    background-image: url("imagens/background.jpg");
    background-color: black;
    font-family: Arial, sans-serif;
    font-style: italic;
    color: white;
}

.header {
    margin: 0;
    text-align: center;
    border-radius: 20px;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 20px;
}

form{
    margin: 20px;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.5);
    border-color: red;
    border-radius: 20px;
}

.fieldset{
    border-color: red;
    border-radius: 20px;
    text-align: center;
}

.servicos, .local{
    margin: 20px;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 20px;
    width: 50%;
}

.mapa{
    border-radius: 20px;
}

.lista-servicos{
    list-style-type: square;
    padding: 20px 20px 20px 40px;
    border: 1px solid red;
    border-radius: 20px;
    /* margin: auto; */
    /* height: 100%; */
}

.portfolio{
    text-align: left;
    margin: 20px;
    padding: 20px;
    border: 1px solid red;
    border-radius: 20px;
    background-color: rgba(0, 0, 0, 0.5);
}
.portfolio img{
    border-radius: 20px;
}

.conteudo{
    display: flex;
    flex-shrink: 1;

}
    