body{
    margin: 0;
    padding: 0;
    background-image: url("../imgs/background.jpg");
    background-color: black;
    font-family: "Roboto", sans-serif;
    font-style: italic;
    color: white;
}

.roboto-body {
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
    "wdth" 100;
}

header {
    margin: 0;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 20px;
}

#headerPrincipal{
    margin: 0;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 20px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
}

.logo{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.logo img{
    width: 200px;
    height: auto;
    margin: 0 10px;
    border-radius: 20px;
    justify-content: center;
    align-items: left;
}

.texto-superior{
    margin: 0;
    text-align: center;
    border-radius: 20px;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 20px;
}

form{
    text-align: left;
    margin: 20px;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.5);
    border: 1px solid;
    border-color: red;
    border-radius: 20px;
}


.servicos1 {
    margin: 20px;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 20px;
    gap: 30px;
}

.servicos2 {
    margin: 20px;
    padding: 20px;
    border-radius: 20px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 30px;
}

.lista-servicos{
    list-style-type: none;
    padding: 20px 20px 20px 40px;
    border: 1px solid red;
    border-radius: 20px;
    flex: 1;
    width: 50%;
    max-height: 400px;
}

.imagem-servico{
    margin: 20px;
    border-radius: 20px;
    justify-content: center;
    object-fit: cover;
    object-position: center;
    flex: 1;
    width: 50%;
}

fieldset{
    border: 1px solid;
    border-color: red;
    border-radius: 20px;
    padding: 10px;
    text-align: center;
}

.local{
    margin: 20px;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 20px;
    width: auto;
}

.mapa{
    border-radius: 20px;
    width: 100%;
}


.button, .buttonC{
    border-radius: 10px; 
    padding: 10px;
    margin: 5px;
    width: 80%;
    background-color: rgba(255, 255, 255,);
    color: rgb(0, 0, 0);
    font-weight: bold;
    border: none;
    cursor: pointer;
    transition: background 0.3s ease, color 0.3s ease, transform 0.3s ease;
}

.buttonC:hover{
    color: white;
    background-color: rgb(141, 26, 26);
    transform: translateX(20px);
}

.portfolio{
    text-align: left;
    margin: 20px;
    padding: 20px;
    border: 1px solid red;
    border-radius: 20px;
    background-color: rgba(0, 0, 0, 0.5);
}

.portfolio img{
    border-radius: 20px;
}

.footer {
    text-align: center;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 20px;
    margin: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.github-icon{
    width: 30px;
    height: 30px;
    margin: 0 10px;
    justify-content: center;
    align-items: right;
}

.carrossel{
    width: 100%;
    height: 400px;
    overflow: hidden;
    position: relative;
    width: 100vw;
    height: 100vh;
    min-height: 300px;
    max-height: 100vh;
}

.botoes-carrossel{
    display: flex;
    flex-direction: row;
    margin: 0;
}

.slides{
    width: 100%;
    height: 100%;
    position: relative;
}

.slides img{
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;

    opacity: 0;
    transition: opacity 0.8s ease-in-out;
}

.slides img.active{
    opacity: 1;
}

.menu-container {
    text-align: left;;
    width: 30px;
    padding: 20px;
}

#menu-button {
    position: absolute;
    background-color: white;
    border: none;
    border-radius: 20px;
    z-index: 1001;
}

#menu {
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-right: 1px solid rgba(255, 255, 255, 0.2);
    position: fixed;
    top: 0;
    left: 0;
    width: 250px;
    height: 100vh;
    background-color: rgba(255, 255, 255, 0.5);
    padding: 20px;
    border-radius: 0px 20px 20px 0px;
    z-index: 1000;

    transform: translateX(-100%);
    transition: transform 0.6s cubic-bezier(.77,0,.18,1);
}

#menu.ativo {
  transform: translateX(0);
}

#menu ul {
    list-style: none;
    text-decoration: none;
    font-style: normal;
    color: black;
    position: relative;
    margin-top: 120px;
    padding: 30px;
}

#menu ul li {
    margin-bottom: 20px;
}

#menu ul li a {
    display: block;
    text-decoration: none;
    font-style: normal;
    color: black;
    font-weight: bold;
    padding: 15px;
    border: 1px solid rgb(164, 7, 7);
    border-radius: 10px;
    transition: background 0.3s ease, color 0.3s ease, transform 0.3s ease;
}

#menu ul li a:hover {
    color: white;
    background-color: rgb(141, 26, 26);
    transform: translateX(20px);
}

body.no-scroll {
    overflow: hidden;
}

#overlay {
    position: fixed;
    inset: 0;
    background: rgba(0,0,0,0.5);
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.4s ease;
    z-index: 998;
}

#overlay.active {
  opacity: 1;
  visibility: visible;
}