body{
    margin: 0;
    padding: 0;
    background-image: url("../imgs/background.jpg");
    background-color: black;
    font-family: Arial, sans-serif;
    font-style: italic;
    color: white;
}

header{
    margin: 0;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 20px;
}

.logo{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    /* background: linear-gradient(135deg, #e0e0e0 0%, #cfcfcf 50%, #a0a0a0 100%); */
}

.logo img{
    width: 200px;
    height: auto;
    margin: 0 10px;
    border-radius: 20px;
    justify-content: center;
    align-items: left;
}

.texto-superior{
    margin: 0;
    text-align: center;
    border-radius: 20px;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 20px;
}

form{
    margin: 20px;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.5);
    border: 1px solid;
    border-color: red;
    border-radius: 20px;
}


.servicos{
    margin: 20px;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 20px;
    width: 100%;
    display: flex;
    flex-direction: row;
}

.lista-servicos{
    list-style-type: none;
    padding: 20px 20px 20px 40px;
    border: 1px solid red;
    border-radius: 20px;
    /* margin: auto; */
    /* height: 100%; */
}

.imagem-servico{
    margin: 20px;
    border-radius: 20px;
    justify-content: center;
    object-fit: cover;
    object-position: center;
    width: 300px;
    height: 400px;  
}

.fieldset{
    border-color: red;
    border-radius: 20px;
    text-align: center;
}

.local{
    margin: 20px;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 20px;
    width: auto;
}

.mapa{
    border-radius: 20px;
    width: 100%;
}


.button{
    /* estou pensando se faco uma classe para todos os botoes, ouse se tenho que deixar sepadado por causa dos de cima */
    border-radius: 10px; 
    padding: 10px;
    margin: 5px;
    width: 80%;
    background-color: rgba(114, 3, 3, 0.5);
    color: white;
    font-weight: bold;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover{
    background-color: rgba(150, 0, 0, 0.7);
}


.portfolio{
    text-align: left;
    margin: 20px;
    padding: 20px;
    border: 1px solid red;
    border-radius: 20px;
    background-color: rgba(0, 0, 0, 0.5);
}

.portfolio img{
    border-radius: 20px;
}

.footer {
    text-align: center;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 20px;
    margin: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.github-icon{
    width: 30px;
    height: 30px;
    margin: 0 10px;
    justify-content: center;
    align-items: right;
}

.carrossel{
    width: 100%;
    height: 400px;
    overflow: hidden;
    position: relative;
    width: 100vw;
    height: 60vh;
    min-height: 300px;
    max-height: 500px;
}

.botoes-carrossel{
    display: flex;
    flex-direction: row;
    margin: 0;
}

.slides{
    width: 100%;
    height: 100%;
    position: relative;
}

.slides img{
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;

    opacity: 0;
    transition: opacity 0.8s ease-in-out;
}

.slides img.active{
    opacity: 1;
}

.menu-container {
    text-align: left;;
    width: 30px;
    padding: 20px;
}

#menu-button {
    position: absolute;
    background-color: white;
    border: none;
    border-radius: 20px;
    z-index: 1000;
}

.hidden {
    display: none;
    transition: display 0.5s ease-in-out;
    transform: translateX(-100%);
    transition: transform 0.3s ease-in-out;
}

#menu.active {
    color:black;
    text-align: left;
    list-style: none;
    border-radius: 0px 20px 20px 0px;
    display: block;
    position: fixed;
    left: 0;
    top: 0;
    width: 250px;
    height: 100vh;    
    background-color: rgba(255, 255, 255, 0.5);
    padding: 20px;
    z-index: 100;
    transform: translateX(0);
}

#menu ul a{
    list-style: none;
    text-decoration: none;
    font-style: normal;
    color: black;
    position: relative;
    top: 100px;
    padding: 30px;
}

