.header {
  margin: 0;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 20px;
}

.home-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
}

.logo {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.logo img {
  width: 200px;
  height: auto;
  margin: 0 10px;
  border-radius: 20px;
  justify-content: center;
  align-items: left;
}

header {
  margin: 0;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 20px;
}

/* #headerPrincipal {
  margin: 0;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 20px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
} */

/* mobile */
@media screen and (max-width: 768px) {
  .servicos2 {
    flex-direction: column;
  }

  .container-imagem {
    width: 100%;
    max-width: none;
    height: auto;
  }

  .imagem-servico {
    width: 100%;
    height: auto;
  }

  .botoes-form-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  .button,
  .buttonC {
    width: 100%;
  }
}

@media screen and (max-width: 1024px) {
  .home-header {
    position: relative !important;
  }

  .slides img {
    object-fit: cover;
  }

  .portfolio-lista {
    flex-direction: column;
    justify-content: space-between;
    gap: 30px;
  }

  .portfolio-item img {
    width: 100%;
    height: auto;
  }

  .button,
  .buttonC {
    width: 100%;
  }
}
