.header {
  margin: 0;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 20px;
}

.home-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
}

.logo {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.logo img {
  width: 200px;
  height: auto;
  margin: 0 10px;
  border-radius: 20px;
  justify-content: center;
  align-items: left;
}

header {
  margin: 0;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 20px;
}

/* #headerPrincipal {
  margin: 0;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 20px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
} */
